/out
.gradle
build
classes
com.taskadapter.webui.widgetset.Vaadin1Widgetset
deploy
gwt-unitCache
target
*.tmp
*.war
.idea
*.iml
.settings
.project
.classpath
.metadata
bin
/webui/src/main/webapp/VAADIN/themes/mytheme/addons.scss
/webui/src/main/webapp/VAADIN/themes/mytheme/styles.css
/webui/src/main/webapp/VAADIN/themes/mytheme/styles.css.gz

