out/
.gradle
build
classes
com.taskadapter.webui.widgetset.Vaadin1Widgetset
deploy
gwt-unitCache
target
*.log
*.tmp
*.war
.idea
*.iml
.settings
.project
.classpath
/webui/src/main/resources/webapp/VAADIN/themes/mytheme/addons.scss
/webui/src/main/resources/webapp/VAADIN/themes/mytheme/styles.css
/webui/src/main/resources/webapp/VAADIN/themes/mytheme/styles.css.gz
/webui/webpack.config.js
/webui/webpack.generated.js
/webui/pnpmfile.js
/webui/pnpm-lock.yaml
/webui/package.json
/webui/frontend/styles/views/styles.css
/webui/node_modules

