.important-notification-label {
    font-size: 16px;
    font-weight: bold;
    color: #fe902a;
}

.grayBackgroundPanel {
    background-color: #f8f8f8;
}

.myBoldLabel {
    font-weight: bold;
}

.taskAdapterLogo {
    font-size: 46px;
    font-weight: bold;
}

.trial-mode-label {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.server-panel-textfield {
    width: 260px;
}