@import "mytheme.scss";

@include mytheme;

.fieldsTitle {
    font-weight: bold;
}

.v-table-cell-content-centered {
    text-align: center;
}

.connectorBoxButton .v-nativebutton-caption {
    font-size: 14px;
}

.smallUploadButton .v-button {
    height: auto;
}

.smallUploadButton .v-button .v-button-wrap {
    padding: 1px 10px
}

.smallUploadButton .v-button .v-button-wrap .v-button-caption {
    height: auto;
    padding: 2px;
    font-size: 11px;
}

.priorities-table {
    font-size: 14px;
}

.v-gridlayout-margin-top {
    padding-top: 3px;
}

.v-gridlayout-margin-bottom {
    padding-bottom: 3px;
}

.v-gridlayout-margin-left {
    padding-left: 3px;
}

.v-gridlayout-spacing-on {
    padding-left: 2px;
    padding-top: 2px;
    overflow: hidden;
}

.v-gridlayout-spacing,
.v-gridlayout-spacing-off {
    padding-left: 0;
    padding-top: 0;
}

.license-area {
    width: 350px;
}

.task-type-layout {
    padding-left: 1px;
    padding-top: 1px;
    overflow: hidden;
}

.label-textfield {
    width: 250px;
}

.redmine-editor-textfield {
    width: 297px;
}

.msp-editor-textfield {
    width: 240px;
}

.msp-file-name-textfield {
    width: 280px;
}

.validationPanelCaption {
    color: #ff6347;
    padding-top: 3px;
    padding-left: 3px;
    font-weight: bold;
}

.error-message-label {
    color: #c3270b;
    padding-top: 3px;
    padding-left: 3px;
}

.v-label-wrap pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.progress-label {
    color: #51bd51;
    font-weight: bold;
    font-size: 20px;
}

.expiredLicenseLabel {
    color: red;
}

.errorMessage {
    font-size: 20px;
    color: red;
}

.uniExportPanel {
    border: 1px solid gray;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    word-wrap: break-word;
}

.uniExportPanel.valid {
    background-color: #dcf7ff;
    color: #222219;
}

.uniExportPanel.valid :hover {
    background-color: #ecffff;
    color: #333329;
}

.uniExportPanel.valid :active {
    background-color: #cce7ef;
    color: #222219;
}

.uniExportPanel.invalid {
    background-color: #bcd7df;
    color: #444438;
}

.uniExportPanel .left-label {
	text-align: right;
}

.uniExportPanel .right-label {
    text-align: left;
}

.editConfigButton {
    padding-right: 5px;
}

.userLoginLabelInUsersPanel {
    font-size: 14px;
    font-weight: bold;
}

.export-result {
    margin-left: 15px;
}

.export-panel {
    background-color: #dcdcdc;
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
}

.no-shadow {
    background-color: #ececec;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

/* This is to avoid "Maximize" button next to "Close" in popup headers.
   See https://vaadin.com/forum#!/thread/3989619 */
.not-maximizable-window .popupContent .v-window-wrap .v-window-maximizebox{
    height: 0px;
}