@import "../valo/_valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here


  .configTabLeftButton:hover {
    background-color: #999595;
  }

  .configTabLeftButtonSelected {
    font-weight: bold;
    background-color: #b6b3b3;
  }
}