@import "../runo/styles.css";

.header-panel {
    background-color: #e6e6e6;
    color: black;
}

.logo .v-button-caption {
    font-size: 33px;
    text-align: left;
    margin: 15px 0 13px 13px;
}

.menu .v-button-caption {
    font-size: 18px;
}

.logo .v-button-caption,
.menu .v-button-caption {
    font-weight: bold;
    text-decoration: none;
}

.menu .v-button-caption:hover,
.logo .v-button-caption:hover {
    color: #4181c1;
}

.trial-mode-area {
    background-color: #f6ff90;
    border-radius: 5px;
}

.trial-mode-label {
    font-weight: bold;
    text-decoration: none;
}

.trial-mode-link a:hover {
    color: #4181c1;
}

.navigation-panel {
    font-size: 16px;
    font-weight: bold;
}

.configsTableButton .v-button-caption {
    font-size: 14px;
    margin: 20px 10px;
    text-decoration: none;
}

.configsTableButton .v-button-caption:hover {
    font-size: 14px;
    margin: 20px 10px;
    text-decoration: underline;
}

.configsTable .v-table-header {
    background-color: #B8DBFF;
    font-weight: bold;
    text-shadow: none;
}

.configsTable .v-table-caption-container {
    text-shadow: none;
}

.configsTable .v-table-cell-content {
    height: 28px;
}

.v-table-cell-content-centered {
    text-align: center;
}

.bordered-panel {
    border: 2px solid #65C5E6;
}

.connectorBoxButton .v-nativebutton-caption {
    font-size: 14px;
}

/*  // button is not used now
.v-nativebutton-connectorBoxButton {
    background-color: #DAF1FF;
    color: #222219;
    border: 1px black solid;
    width: 220px;
    height: 110px;
}
  */

.connectorBoxLabel {
    font-size: 18px;
    background-color: #DAF1FF;
    color: #222219;
    border: 1px gray solid;
    border-radius: 3px;
    width: 200px;
    height: 110px;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
}

.v-nativebutton-connectorBoxButton:hover {
    /* we don't have any action associated with this box panel, so let's not show any effects
     on mouse over event to not confuse people*/
    /*background-color: #99CCFF;*/
}

.priorities-table {
    font-size: 14px;
}

.v-gridlayout-margin-top {
    padding-top: 3px;
}

.v-gridlayout-margin-bottom {
    padding-bottom: 3px;
}

.v-gridlayout-margin-left {
    padding-left: 3px;
}

.v-gridlayout-margin-right {
    padding-right: 3px;
}

.v-gridlayout-spacing-on {
    padding-left: 2px;
    padding-top: 2px;
    overflow: hidden;
}

.v-gridlayout-spacing,
.v-gridlayout-spacing-off {
    padding-left: 0;
    padding-top: 0;
}

.license-area {
    width: 275px;
}

.list-window {
    width: 350px;
    height: 500px;
}

.list-select {
    width: 300px;
}

.task-type-layout {
    padding-left: 1px;
    padding-top: 1px;
    overflow: hidden;
}

.label-textfield {
    width: 250px;
}

.server-panel-textfield {
    width: 218px;
}

.redmine-editor-textfield {
    width: 297px;
}

.msp-editor-textfield {
    width: 240px;
}

.msp-file-name-textfield {
    width: 330px;
}

.error-message-label {
    color: #ff6347;
    padding-top: 3px;
    padding-left: 3px;
}

.progress-label {
    color: #51bd51;
    font-weight: bold;
    font-size: 20px;
}