@import "../runo/styles.css";

.header-panel {
    background-color: #e6e6e6;
    color: black;
}

.logo .v-button-caption {
    font-size: 33px;
    text-align: left;
    margin: 15px 0 13px 13px;
}

.menu .v-button-caption {
    font-size: 18px;
}

.logo .v-button-caption,
.menu .v-button-caption {
    font-weight: bold;
    text-decoration: none;
}

.menu .v-button-caption:hover,
.logo .v-button-caption:hover {
    color: #4181c1;
}

.trial-mode-area {
    background-color: #f0ff1a;
    border-radius: 20px;
}
.trial-mode-label {
    color: #3215ff;
    font-weight: bolder;
    font-style: italic;
}
.trial-mode-link a:hover {
    color: red;
}

.navigation-panel {
    font-size: 16px;
    font-weight: bold;
}

.configsTable {
    font-size: 14px;
}
.configsTable .v-table-header {
    background-color: #B8DBFF;
}

.button_arrow .v-nativebutton-caption {
    font-size: 36px;
    font-weight: bold;
}

.v-table-cell-content-centered {
    text-align: center;
}

.bordered-panel {
    border: 2px solid #65C5E6;
}

.boxButton .v-nativebutton-caption {
    font-size: 14px;
}

.v-nativebutton-boxButton {
    background-color: #DAF1FF;
    color: #222219;
    border: 2px #65C5E6 solid;
    width: 250px;
    height: 110px;
}

.v-nativebutton-boxButton:hover {
    /* we don't have any action associated with this box panel, so let's not show any effects
     on mouse over event to not confuse people*/
    /*background-color: #99CCFF;*/
    border: 2px #65C5E6 solid;
}

.priorities-table {
    font-size: 14px;
}

.fields-mapping-panel {
    border: 2px #65C5E6 solid;
    /*width: 463px;*/
}

.v-gridlayout-margin-top {
    padding-top: 3px;
}
.v-gridlayout-margin-bottom {
    padding-bottom: 3px;
}
.v-gridlayout-margin-left {
    padding-left: 3px;
}
.v-gridlayout-margin-right {
    padding-right: 3px;
}
.v-gridlayout-spacing-on {
    padding-left: 2px;
    padding-top: 2px;
    overflow: hidden;
}
.v-gridlayout-spacing,
.v-gridlayout-spacing-off {
    padding-left: 0;
    padding-top: 0;
}

.license-area {
    width: 275px;
}

.list-window {
    width: 350px;
    height: 500px;
}

.list-select {
    width: 300px;
}

.task-type-layout {
    padding-left: 1px;
    padding-top: 1px;
    overflow: hidden;
}

.label-textfield {
    width: 250px;
}
.server-panel-textfield {
    width: 218px;
}

.redmine-editor-textfield {
    width: 297px;
}

.msp-editor-textfield {
    width: 240px;
}

.msp-file-name-textfield {
    width: 450px;
}

.error-message-label {
    color: #ff6347;
    padding-top: 3px;
    padding-left: 3px;
}