@import "../reindeer/styles.css";

.header_panel {
    background-color: #388ddd;
    color: #ffffff;
}

.header_logo_label {
    font-size: 33px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin: 15px 0 13px 13px;
}

.trial_mode_area {
    background-color: #f0ff1a;
    width: 150px;
}
.trial_mode_label {
    color: #3215ff;
    font-weight: bolder;
}

.navigation_panel {
    font-size: 16px;
    font-weight: bold;
}

.taskstable {
    font-size: 14px;
}
.taskstable .v-table-header {
    background-color: #B8DBFF;
}

.v-table-cell-content-centered {
    text-align: center;
}

.bordered_panel {
    border: 2px #65C5E6 solid;
}

.boxButton .v-nativebutton-caption {
    font-size: 14px;
}

.v-nativebutton-boxButton {
    background-color: #DAF1FF;
    color: #222219;
    border: 2px #65C5E6 solid;
    width: 250px;
    height: 110px;
}

.v-nativebutton-boxButton:hover {
    background-color: #99CCFF;
    /*color: #ffffff;*/
    border: 2px #65C5E6 solid;
}

.priorities_table {
    font-size: 14px;
}

.fields_mapping_panel {
    border: 2px #65C5E6 solid;
    width: 300px;
}

.v-gridlayout-margin-top {
    padding-top: 3px;
}
.v-gridlayout-margin-bottom {
    padding-bottom: 3px;
}
.v-gridlayout-margin-left {
    padding-left: 3px;
}
.v-gridlayout-margin-right {
    padding-right: 3px;
}
.v-gridlayout-spacing-on {
    padding-left: 2px;
    padding-top: 2px;
    overflow: hidden;
}
.v-gridlayout-spacing,
.v-gridlayout-spacing-off {
    padding-left: 0;
    padding-top: 0;
}

.licenseArea {
    width: 275px;
}

.list_window {
    width: 350px;
    height: 500px;
}

.list_select {
    width: 300px;
}

.task_type_layout {
    padding-left: 1px;
    padding-top: 1px;
    overflow: hidden;
}